/*-----------------------------------------------------------------------------
  doxygen_.css
 
  $Version: 0172a, Revision: 178 $
  $Copyright: (C) Ded (Ilya Dedinsky, http://ded32.net.ru) $
  $Date: 2011-12-09 06:12:44 +0400 $
 ----------------------------------------------------------------------------*/

body, table, div, p, dl 
    {
    font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;

/*  font-size: 12px; */
    font-size: 15px;

/*  color: #FF0000 */ /* !!! */
    }

table.smalltext
    { 
    border-style: outset;
    border-color: gray;
    border-width: 1px;
    border-spacing: 0px;
    border-collapse: collapse; 
    } 
    
table.smalltext td 
    { 
    border-style: inset;
    border-color: gray;
    border-width: 1px;
    padding: 3px;
    font-size: small;
    font-family: Lucida Console, monospace;
    }

/* @group Heading Levels */

h1 
    {
    font-size: 150%;
    }

h2 
    {
    font-size: 120%;
    }

h3 
    {
    font-size: 100%;
    }

dt 
    {
    font-weight: bold;
    }

div.multicol 
    {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    }

p.startli, p.startdd, p.starttd 
    {
    margin-top: 2px;
    }

p.endli 
    {
    margin-bottom: 0px;
    }

p.enddd 
    {
    margin-bottom: 4px;
    }

p.endtd 
    {
    margin-bottom: 2px;
    }

/* @end */

caption 
    {
    font-weight: bold;
    }

span.legend 
    {
    font-size: 70%;
    text-align: center;
    }

h3.version 
    {
    font-size: 90%;
    text-align: center;
    }

div.qindex, div.navtab
    {
    background-color: #EBEFF6;
    border: 1px solid #A3B4D7;
    text-align: center;
    margin: 2px;
    padding: 2px;
    }

div.qindex, div.navpath 
    {
    width: 100%;
    line-height: 140%;
    }

div.navtab 
    {
    margin-right: 15px;
    }

/* @group Link Styling */

a 
    {
    color: #3D578C;
    font-weight: normal;
    text-decoration: none;
    }

.contents a: visited 
    {
    color: #4665A2;
    }

a: hover 
    {
    text-decoration: underline;
    }

a.qindex 
    {
    font-weight: bold;
    }

a.qindexHL 
    {
    font-weight: bold;
    background-color: #9CAFD4;
    color: #ffffff;
    border: 1px double #869DCA;
    }

.contents a.qindexHL: visited 
    {
    color: #ffffff;
    }

a.el 
    {
    font-weight: bold;
    }

a.elRef 
    {
    }

a.code 
    {
    color: #4665A2;
    }

a.codeRef 
    {
    color: #4665A2;
    }

/* @end */

dl.el 
    {
    margin-left: -1cm;
    }

/* .fragment */
.fragment, code
    {
/*  font-size: 105%; */
    font-size: 95%;

/*  font-family: monospace, fixed; */
    font-family: Lucida Console, Consolas, monospace, fixed;

/*  color: #FF00FF */ /* !!! */
    }

pre.fragment 
    {
    border: 1px solid #C4CFE5;
    background-color: #FBFCFD;
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    overflow: auto;
    word-wrap: break-word;
    line-height: 125%;

/*  font-size: 9pt; */
    font-size: 98%;

/*  color: #00FF00 */ /* !!! */
    }

div.ah 
    {
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0.2em;
    border: solid thin #333;
    border-radius: 0.5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: rgba (0, 0, 0, 0.15) 2px 2px 2px;
    background-image: -webkit-gradient (linear, left top, left bottom, from (#eee), to (#000), color-stop (0.3, #444));
    background-image: -moz-linear-gradient (center top, #eee 0%, #444 40%, #000);
    }

div.groupHeader 
    {
    margin-left: 16px;
    margin-top: 12px;
    font-weight: bold;
    }

div.groupText 
    {
    margin-left: 16px;
    font-style: italic;
    }

body 
    {
    background: white;
    color: black;
    margin: 0;
    }

div.contents 
    {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }

td.indexkey 
    {
    background-color: #EBEFF6;
    font-weight: bold;
    border: 1px solid #C4CFE5;
    margin: 2px 0px 2px 0;
    padding: 2px 10px;
    }

td.indexvalue 
    {
    background-color: #EBEFF6;
    border: 1px solid #C4CFE5;
    padding: 2px 10px;
    margin: 2px 0px;
    }

tr.memlist 
    {
    background-color: #EEF1F7;
    }

p.formulaDsp 
    {
    text-align: center;
    }

img.formulaDsp 
    {}    

img.formulaInl 
    {
    vertical-align: middle;
    }

div.center 
    {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    }

div.center img 
    {
    border: 0px;
    }

address.footer 
    {
    text-align: right;
    padding-right: 12px;
    }

img.footer 
    {
    border: 0px;
    vertical-align: middle;
    }

/* @group Code Colorization */

/*
span.keyword 
    {
/*  color: #008000 */
    color: #000080
    }

span.keywordtype 
    {
/*  color: #604020 */
    color: #000080
    }

span.keywordflow 
    {
/*  color: #e08000 */
    color: #000080
    }

span.comment 
    {
/*  color: #800000 */
    color: #008000
    }

span.preprocessor 
    {
/*  color: #806020 */
    color: #800080
    }

span.stringliteral 
    {
/*  color: #002080 */
    color: #0000ff
    }

span.charliteral 
    {
/*  color: #008080 */
    color: #008080
    }

span.vhdldigit 
    { 
    color: #ff00ff 
    }

span.vhdlchar 
    { 
    color: #000000 
    }

span.vhdlkeyword 
    { 
    color: #700070 
    }

span.vhdllogic 
    { 
    color: #ff0000 
    }

/* @end */

/*
.search 
    {
    color: #003399;
    font-weight: bold;
    }

form.search 
    {
    margin-bottom: 0px;
    margin-top: 0px;
    }

input.search 
    {
    font-size: 75%;
    color: #000080;
    font-weight: normal;
    background-color: #e8eef2;
    }
*/

td.tiny 
    {
    font-size: 75%;
    }

.dirtab 
    {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #A3B4D7;
    }

th.dirtab 
    {
    background: #EBEFF6;
    font-weight: bold;
    }

hr 
    {
    height: 0px;
    border: none;
    border-top: 1px solid #4A6AAA;
    }

hr.footer 
    {
    height: 1px;
    }

/* @group Member Descriptions */

table.memberdecls 
    {
    border-spacing: 0px;
    padding: 0px;
    }

.mdescLeft, .mdescRight, 
.memItemLeft, .memItemRight, 
.memTemplItemLeft, .memTemplItemRight, .memTemplParams 
    {
    background-color: #F9FAFC;
    border: none;
    margin: 4px;
    padding: 1px 0 0 8px;
    }

.mdescLeft, .mdescRight 
    {
    padding: 0px 8px 4px 8px;
    color: #555;
    }

.memItemLeft, .memItemRight, .memTemplParams 
    {
    border-top: 1px solid #C4CFE5;
    }

.memItemLeft, .memTemplItemLeft 
    {
    white-space: nowrap;
    }

.memTemplParams 
    {
    color: #4665A2;
    white-space: nowrap;
    }

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate 
    {
    font-size: 80%;
    color: #4665A2;
    font-weight: normal;
    margin-left: 9px;
    }

.memnav 
    {
    background-color: #EBEFF6;
    border: 1px solid #A3B4D7;
    text-align: center;
    margin: 2px;
    margin-right: 15px;
    padding: 2px;
    }

.memitem 
    {
    padding: 0;
    margin-bottom: 10px;
    }

.memname 
    {
    white-space: nowrap;
    font-weight: bold;
    margin-left: 6px;
    }

.memproto 
    {
    border-top: 1px solid #A8B8D9;
    border-left: 1px solid #A8B8D9;
    border-right: 1px solid #A8B8D9;
    padding: 6px 0px 6px 0px;
    color: #253555;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba (255, 255, 255, 0.9);
    
    /* opera specific markup */
    box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.15);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
    /* firefox specific markup */
    -moz-box-shadow: rgba (0, 0, 0, 0.15) 5px 5px 5px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    
    /* webkit specific markup */
    -webkit-box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.15);
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    background-image: url ('nav_f.png');
    background-repeat: repeat-x;
    background-color: #E2E8F2;
    }

.memdoc 
    {
    border-bottom: 1px solid #A8B8D9;      
    border-left: 1px solid #A8B8D9;      
    border-right: 1px solid #A8B8D9; 
    padding: 2px 5px;
    background-color: #FBFCFD;
    border-top-width: 0;
    
    /* opera specific markup */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.15);
    
    /* firefox specific markup */
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-box-shadow: rgba (0, 0, 0, 0.15) 5px 5px 5px;
    background-image: -moz-linear-gradient (center top, #FFFFFF 0%, #FFFFFF 60%, #F7F8FB 95%, #EEF1F7);
    
    /* webkit specific markup */
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.15);
    background-image: -webkit-gradient (linear, center top, center bottom, from (#FFFFFF), color-stop (0.6, #FFFFFF), color-stop (0.60, #FFFFFF), color-stop (0.95, #F7F8FB), to (#EEF1F7));
    }

.paramkey 
    {
    text-align: right;
    }

.paramtype 
    {
    white-space: nowrap;
    }

.paramname 
    {
    color: #602020;
    white-space: nowrap;
    }
.paramname em 
    {
    font-style: normal;
    }

.params, .retval, .exception, .tparams 
    {
    border-spacing: 6px 2px;
    }       

.params .paramname, .retval .paramname 
    {
    font-weight: bold;
    vertical-align: top;
    }
    
.params .paramtype 
    {
    font-style: italic;
    vertical-align: top;
    }       
    
.params .paramdir 
    {
    vertical-align: top;

/*  font-family: "courier new", courier, monospace; */
    font-family: Lucida Console, Consolas, Courier New, courier, monospace;

/*  color: #808080; */ /* !!! */
    }

/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree 
    {
    font-family: sans-serif;
    margin: 0px;
    }

/* these are for tree view when used as main index */

.directory 
    {
    font-weight: bold;
    margin: 5px;

/*  font-size: 9pt; */
    font-size: 12pt;

/*  color: #0000FF */ /* !!! */
    }

.directory h3 
    {
    margin: 0px;
    margin-top: 1em;

/*  font-size: 11pt; */
    font-size: 14px;

/*  color: #FFFF00 */ /* !!! */
    }

/*
The following two styles can be used to replace the root node title
with an image of your choice. Simply uncomment the next two styles, 
specify the name of your image and be sure to set 'height' to the
proper pixel height of your image.
*/

/*
.directory h3.swap 
    {
    height: 61px;
    background-repeat: no-repeat;
    background-image: url ("yourimage.gif");
    }

.directory h3.swap span 
    {
    display: none;
    }
*/

.directory > h3 
    {
    margin-top: 0;
    }

.directory p 
    {
    margin: 0px;
    white-space: nowrap;
    }

.directory div 
    {
    display: none;
    margin: 0px;
    }

.directory img 
    {
    vertical-align: -30%;
    }

/* these are for tree view when not used as main index */

.directory-alt 
    {
    font-size: 100%;
    font-weight: bold;
    }

.directory-alt h3 
    {
    margin: 0px;
    margin-top: 1em;

/*  font-size: 11pt; */
    font-size: 14px;

/*  color: #FF00FF */ /* !!! */
    }

.directory-alt > h3 
    {
    margin-top: 0;
    }

.directory-alt p 
    {
    margin: 0px;
    white-space: nowrap;
    }

.directory-alt div 
    {
    display: none;
    margin: 0px;
    }

.directory-alt img 
    {
    vertical-align: -30%;
    }

/* @end */

div.dynheader 
    {
    margin-top: 8px;
    }

address 
    {
    font-style: normal;
    color: #2A3D61;
    }

table.doxtable 
    {
    border-collapse: collapse;
    }

table.doxtable td, table.doxtable th 
    {
    border: 1px solid #2D4068;
    padding: 3px 7px 2px;
    }

table.doxtable th 
    {
    background-color: #374F7F;
    color: #FFFFFF;
    font-size: 110%;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
    }

.tabsearch 
    {
    top: 0px;
    left: 10px;
    height: 36px;
    background-image: url ('tab_b.png');
    z-index: 101;
    overflow: hidden;

/*  font-size: 13px; */
    font-size: 15px;

/*  color: #800000 */ /* !!! */
    }

.navpath ul
    {
    background-image: url ('tab_b.png');
    background-repeat: repeat-x;
    height: 30px;
    line-height: 30px;
    color: #8AA0CC;
    border: solid 1px #C2CDE4;
    overflow: hidden;
    margin: 0px;
    padding: 0px;

/*  font-size: 11px; */
    font-size: 14px;

/*  color: #008000 */ /* !!! */
    }

.navpath li
    {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    padding-right: 15px;
    background-image: url ('bc_s.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #364D7C;
    }

.navpath li.navelem a
    {
    height: 32px;
    display: block;
    text-decoration: none;
    outline: none;
    }

.navpath li.navelem a: hover
    {
    color: #6884BD;
    }

.navpath li.footer
    {
    list-style-type: none;
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right;
    color: #364D7C;
    
/*  font-size: 8pt; */
    font-size: 11pt;

/*  color: #808080; */ /* !!! */
    }

div.summary
    {
    float: right;
    padding-right: 5px;
    width: 50%;
    text-align: right;

/*  font-size: 8pt; */
    font-size: 11pt;

/*  color: #000080 */ /* !!! */
    }       

div.summary a
    {
    white-space: nowrap;
    }

div.ingroups
    {
    padding-left: 5px;
    width: 50%;
    text-align: left;

/*  font-size: 8pt; */
    font-size: 11pt;

/*  color: #008080 */ /* !!! */
    }

div.ingroups a
    {
    white-space: nowrap;
    }

div.header
    {
    background-image: url ('nav_h.png');
    background-repeat: repeat-x;
    background-color: #F9FAFC;
    margin: 0px;
    border-bottom: 1px solid #C4CFE5;
    }

div.headertitle
    {
    padding: 5px 5px 5px 10px;
    }

dl
    {
    padding: 0 0 0 10px;
    }

dl.note, dl.warning, dl.attention, dl.pre, dl.post, 
dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug
    {
    border-left: 4px solid;
    padding: 0 0 0 6px;
    }

dl.note
    {
    border-color: #406090;
    }

dl.warning, dl.attention
    {
    border-color: #F02020;
    }

dl.pre, dl.post, dl.invariant
    {
    border-color: #00D000;
    }

dl.deprecated
    {
    border-color: #404040;
    }

dl.todo
    {
    border-color: #00C0E0;
    }

dl.test
    {
    border-color: #3030E0;
    }

dl.bug
    {
    border-color: #C08050;
    }

#projectlogo
    {
    text-align: center;
    vertical-align: bottom;
    border-collapse: separate;
    }
 
#projectlogo img
    { 
    border: 0px none;
    }
 
#projectname
    {
    margin: 0px;
    padding: 0px;

/*  font: 300% arial, sans-serif; */
    font: 125% arial, sans-serif;

    margin-top: 10px;
    font-weight: bold;
    }
    
#projectnumber
    {
    margin: 0px;
    padding: 0px;

/*  font:  50% arial, sans-serif; */
    font: 100% arial, sans-serif;

    margin-top: 10px;
    font-weight: bold;
    }

#projectbrief
    {
    margin: 0px;
    padding: 0px;

/*  font: 120% arial, sans-serif; */
    font: 125% arial, sans-serif;

    margin-bottom: 10px;
    }

#titlearea
    {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #5373B4;
    }

/* tabs.css */

.tabs, .tabs2, .tabs3 
    {
    background-image: url ('tab_b.png');
    width: 100%;
    z-index: 101;
    font-size: 13px;
    }

.tabs2
    {
/*  font-size: 10px; */
    font-size: 13px;
    }

.tabs3 
    {
/*  font-size: 9px; */
    font-size: 13px;
    }

.tablist 
    {
    margin: 0;
    padding: 0;
    display: table;
    }

.tablist li 
    {
    float: left;
    display: table-cell;
    background-image: url ('tab_b.png');
    line-height: 26px;
    list-style: none;
    }

.tablist a 
    {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image: url ('tab_s.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba (255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
    }

.tabs3 .tablist a 
    {
    padding: 0 10px;
    }

.tablist a: hover 
    {
    background-image: url ('tab_h.png');
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba (0, 0, 0, 1.0);
    text-decoration: none;
    }

.tablist li.current a 
    {
    background-image: url ('tab_a.png');
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba (0, 0, 0, 1.0);
    }

.s
    {
    text-decoration: line-through
    }

