a {
    color: #ffffff;
}

body {
  padding: 10px;
  background: #131313;
  color: #fffdd0;
  width:100%;
}

h1 {
  color: #fc0;
}

h2 {
  color: #F0DC82;
  margin:0;
  padding:0;
}

.scrolling {
    width: 1200px;
}

.carousel {
  position: relative;
  width: 1008px;
  padding: 10px 3px;
  border: 1px solid #fc0;
  border-radius: 15px;
  background: #3a3636;
}
.carousel .gallery div {
  width: 1000px;
  height: 700px;
  display: block;
}
.carousel .arrow {
  position: absolute;
  top: 57px;
  padding: 3px 3px 3px 3px;
  background: #ddd;
  border-radius: 15px;
  font-size: 24px;
  color: #444;
  text-decoration: none;
}

.carousel .arrow:hover {
  background: #ccc;
}
.carousel .left-arrow {
  left: 7px;
}
.carousel .right-arrow {
  right: 7px;
}

.list-gallery {
    width:800px;
}
.list-gallery ul {
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-gallery ul li {
	float: left;
    margin-left:20px;
    border: 1px solid #131313;
    border-radius: 15px;
    padding:5px;
}

.list-gallery ul li:hover {
    border: 1px solid #fc0;
    background: #3a3636;
}

.gallery {
  width: 1000px;
  overflow: hidden;
}
.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery ul li {
	float: left;
}

